@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Inter&family=Poppins:wght@300&display=swap');

.App {
  display: flex;
  flex-direction: column;
  background-color: #1E1E1E;
  gap:5vh;
}

.row{
  margin-left: 1vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  width: 99%; 
}

.nextPage{
  width: 25vw;
  height:7vh;
  margin-left: 39vw;
  background-color: #FFFF;
  color: #1E1E1E;
  padding-top: 1vh;
  padding-bottom: 1vh;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
}



